.ingredient{
    padding: 20px 10px;
    max-width: 200px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(73, 103, 160);
}
#search_results{
    max-width: 700px;
    grid-template-columns: auto auto auto;
}
.none{
    display: none;
}