*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
    background-color: #353535;
    color: whitesmoke;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
input{
    max-width: 250px;
    min-width: 100px;
    background-color: #353535;
    color: whitesmoke;
    margin: 10px;
    padding: 7px;
}
#nav,#content{
    justify-content: center;
    align-items: center;
}
#nav{
    background-color: rgb(73, 103, 160);
}
#nav div{
    padding: 8px;
}
#nav div:hover{
    background-color:#353535;
    transition: 0.9s;
}
#add, #getAll, #delete{
    display: flex;
    align-self: center;
    border-radius: 5px;
    padding: 7px 11.5px;
    background-color: rgb(73, 103, 160);
}
#add_search_getAll{
    margin: 10px;
}
#cancel{
    padding: 7px 11.5px;
    margin: 10px 10px 10px auto;
    height: min-content;
    width: min-content;
    transform: rotate(45deg);
    background-color: rgb(73, 103, 160);
    border-radius: 50%;
}
#submit{
    background-color: rgb(73, 103, 160);
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
}
.none{
    display: none;
}
.recipe,.ingredient{
    padding: 20px 10px;
    max-width: 200px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(73, 103, 160);
}
#search_results{
    max-width: 700px;
    grid-template-columns: auto auto auto;
}
.none{
    display: none;
}
ul{
    list-style: none;
}
li{
    padding: 7px;
    margin-bottom: 4px;
    background-color: rgb(76, 103, 160);
    text-align: center;
    border-radius: 5px;
}
#ingredients_results,#ingredients{
    margin: 0 auto;
    padding: 0;
}
#ingredients li input{
    min-width: 20px;
    max-width: 49px;
    margin: 0 7px;
}
#ingredients li{
    text-align: end;
}
#ingredients li button{
    border-radius: 5px;
    color: whitesmoke;
    background-color: #353535;
    border: none;
}
#preparation {
    min-height: fit-content;
    max-width: 187px;
    padding: 7px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 5px;
}
#sresults{
    margin: 0 auto;
    padding: 0;
}
#sresults li{
    padding: max-content;
    margin-bottom: 4px;
    background-color: rgb(76, 103, 160);
    text-align: center;
    border-radius: 5px;
}
div#name{
    max-width: 250px;
    min-width: 100px;
    background-color: #353535;
    color: whitesmoke;
    margin: 10px;
    padding: 7px;
    text-align: center;
}